body {
    font-family: sans-serif;
    background-color: #1a1a2e;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

.text-orange {
    color: #ff8c42;
}

.btn-orange {
    background-color: #ff8c42;
    border-color: #ff8c42;
    color: #1a1a2e;
    transition: all 0.3s ease;
}

.btn-orange:hover {
    background-color: #e67e3b;
    border-color: #e67e3b;
    transform: translateY(-3px);
}

#headerSection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    width: 100%;
    text-align: center;
    z-index: 10;
}

#headerSection.small {
    top: 20px;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}

#headerSection.small #mainTitle {
    font-size: 2.5rem;
}

#headerSection.small #subTitle {
    font-size: 1.1rem;
}

#headerSection.small #getDataButton {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
}

#chartContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 1000px;
    height: 60vh;
    margin-top: 30px;
    padding: 10px;
    background-color: #2a2a40;
    border: 1px solid #3a3a4e;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 5;
}

#chartContainer.visible {
    opacity: 1;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.btn-orange:active {
    animation: pulse 0.4s ease;
}


#loadingSpinner {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

.footer {
    background-color: #1a1a2e;
    border-top: 1px solid #3a3a4e;
    margin-top: auto;
    position: relative;
    z-index: 10
}

@media (max-width: 768px) {
    #chartContainer {
        width: 95%; 
        height: 60vh;
        padding: 10px;
    }

    #headerSection.small {
        top: 10px;
    }

    #headerSection.small #mainTitle {
        font-size: 1.5rem;
    }

    #headerSection.small #subTitle {
        font-size: 0.9rem;
    }

    #headerSection.small #getDataButton {
        font-size: 0.9rem;
        padding: 0.4rem 0.4rem;
    }
}